{% include('includes/head.twig') %}

<body {{ wp.body_class }} >

  {% include('includes/header.twig') %}

  {% for post in posts() %} {{ the_post() }}
    {{ wp.the_title }}
	{% endfor %}

  <div class="wrap container" role="document">
    <div class="content">
    	{% for post in posts({

    	}) %}
			    {% block post %}
			        <h1>{{ post.title }}</h1>
			        <p>{{ post.body }}</p>
			    {% endblock %}
			{% endfor %}
			<div class="card">
				<h1 class="heading--lg text-center">
				  {{ post.content }}
				</h1>
			</div>

  	{% include('includes/footer.twig') %}

  	{{ wp.wp_footer }}

	</body>
</html>
